# Файлы кэша Python
__pycache__/
*.py[cod]


*.log
*.tmp
*.swp
*.swo
*.~


venv/
.env
.envrc


.vscode/
.idea/
*.iml

.cache/


pip-log.txt
pip-delete-this-directory.txt
poetry.lock


build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec


.ipynb_checkpoints


coverage.xml
*.cover
.hypothesis/


*.dockerfile
docker-compose.override.yml

*.pem
*.key
*.crt

.DS_Store
Thumbs.db

report_logs/*.txt
google.json
*.zip

# ignore bd SQLite
db.sqlite